.Button {
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: var(--s);
	outline: 0px;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	border-radius: var(--s);
	color: var(--color-gray-900);
	cursor: pointer;
	box-sizing: border-box;
	transition: all 150ms;
}

.Button:hover {
	background-color: #F3F4F6;
}

.Button:focus-visible {
	outline-color: var(--color-gray-900);
	outline-offset: 0.25rem;
	outline-style: solid;
	outline-width: 0.15rem;
}

.PrimaryButton {
	padding: var(--s);
	border-width: 0px;
	background-color: var(--color-blue-500);
	color: #FFFFFF;
}

.PrimaryButton:hover {
	background-color: var(--color-blue-700);
}

.PrimaryButton:focus-visible {
	outline-color: var(--color-gray-900);
	outline-offset: 0.25rem;
	outline-style: solid;
	outline-width: 0.15rem;
}

.Button[disabled],
.Button[disabled]:hover,
.PrimaryButton[disabled],
.PrimaryButton[disabled]:hover {
	color: #FFFFFF;
	background-color: var(--color-gray-500);
	cursor: default;
}

@media screen and (max-width:768px) {
	.Button {
		border-radius: .75rem;
		font-size: var(--text-size-small);
	}
}
